.chat-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
  width: 90%;
}

.room-name {
  height: 10%;
  font-weight: bold;
  font-size: 16;
  text-align: center;
}

.message-container {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
}

.main-app,
.contact {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
}

.message.from-this-user .username {
  display: none;
}

.message.from-this-user {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.message.from-this-user .message-content {
  background-color: cornflowerblue;
  color: black;
  overflow-wrap: break-word;
}

.message {
  margin-bottom: 20px;
}

.message-content {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}
