.input-box {
  border-radius: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  flex-shrink: 0;
  align-items: right;
}

.input-box input[type="text"] {
  width: 100%;
  /* margin-left: -20px;
  margin-right: -20px; */
}
