.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.message.from-this-user .username {
  display: none;
}

.message.from-this-user {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.message.from-this-user .message-content {
  background-color: cornflowerblue;
  color: black;
  overflow-wrap: break-word;
}

.message {
  margin-bottom: 20px;
}

.message-content {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}
